@use 'styles.scss' as styles;
.welcome{
    margin-top: 30px;
}
.login-options{
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 25vw;
    @media(max-width: 992px){
        margin: 15px 18vw;
    }
    @media(max-width: 767px){
        margin: 15px;
    }
}

.email_login{
    margin-top: 25px;
    height: 300px;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.create_account{
    cursor: pointer;
    color: styles.$action-color;
}
.bottom_option{
    margin-top:15px;
}