
<div class="custom-container">
    <div class="dashboard-header">
        <div>
            <div class="dashboard-profile-pic" [style.background-image]="`url(${profileImageUrl})`"></div>
        </div>
        <div class="dashboard-username">
            <div>{{userInfo.userName}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h3>BookBuddies</h3>
            <div *ngIf="!buddies || !buddies.length">Go make some BookBuddies! You can DM each other about books you both want to read!</div>
            <div class="buddy" *ngFor="let buddy of buddies">
                <span class="username-and-icon">
                    <span class="user-avatar" [style.background-image]="`url(${buddy.profileImageUrl})`"></span>
                    <span class="user-name">{{buddy.userName}}</span>
                </span>
                <span class="invited-buddy"><button (click)="initiateMessaging(buddy)" class="action-button buddy-button" mat-raised-button>Message</button></span>
            </div>
        </div>
        <div class="col sm-7">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Books I've Read">
                    <app-book-list [books]="haveReadList" [emptyListMessage]="'Add some books you\'ve read!'" [ReadStatus]="readStatus.read"></app-book-list>
                </mat-tab>
                <mat-tab label="Reading">
                    <app-book-list [books]="currentlyReadingList" [emptyListMessage]="'Add some books you\'re currently reading!'" [ReadStatus]="readStatus.reading"></app-book-list>
                </mat-tab>
                <mat-tab label="Want To Read">
                    <app-book-list [books]="wantToReadList" [emptyListMessage]="'Find some books to add to your BookBucketList!'" [ReadStatus]="readStatus.wantToRead"></app-book-list>
                </mat-tab>
            </mat-tab-group>
        </div>
        </div>
    </div>
    <div class="row">
</div>