@use '../../app.component.scss' as app;
@use '../../../styles.scss';

$dashboard-book-height: 200px;
$dashboard-book-width: 150px;

.dashboard-header{
    display: flex;
    justify-content: flex-start;
    height: 18vh;
    margin: 15px 0px;
}
.book-image{
    height: $dashboard-book-height;
    width: $dashboard-book-width;
    background-size: cover;
    cursor: pointer;
}
.dashboard-book{
    display: inline-block;
     max-width: $dashboard-book-width + 10px;   
     margin-right: 10px;
}
.dashboard-profile-pic{
    height: 18vh;
    width: 18vh;
    background-size: cover;
}
.dashboard-username{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 25px;
    font-size: 25px;
}