<h2 mat-dialog-title>Include a note to {{data.name}}</h2>
<!-- <mat-dialog-content> -->
    <mat-form-field class="buddy-note">
        <mat-label>Note</mat-label>
        <textarea matInput [(ngModel)]="buddyNote" placeholder="Let's be book buddies!">
        </textarea>
    </mat-form-field>
<!-- </mat-dialog-content> -->
<mat-dialog-actions>
    <button mat-button class="action-button" [mat-dialog-close]="buddyNote()" cdkFocusInitial >Send Request</button>
    <button mat-button (click)="onNoClick()" >Cancel</button>
</mat-dialog-actions>

