@use 'app/app.component.scss';
@use 'styles.scss';

.book-info{
    max-width: 30vw;
}

.book-columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.book-title{
    font-size: 1.5em;
    font-weight: bold;
}

.want-to-read{
    max-width: 25vw;
}

.book-image{
    width: 20vw;
    margin-bottom: 20px;
}

.book-description{
    margin-top: 10px;
}