@use 'app/app.component.scss';
@use 'styles.scss' as styles;

.basic-instructions{
    margin-top: 10px;
}

.buffer{
    height: 20px;
}
.container{
    // margin: 0px !important;
    // padding: 10px 0px !important;
}
.book-info{
    // width: 25vw;
}
.action-read-status{
    // width: 200px;
    .buttons{
            display: flex;
    flex-direction: column;

        width: 50%;
    }
}
.read-status{
    margin-bottom: 10px;
    color: styles.$action-color;
}
.want-to-read{
    // width: 35vw;
}

.book-info{
    // max-width: 30vw;
}

.read-button{
    margin-right: 10px;
    margin-bottom: 10px;
}

.book-columns{
    margin-bottom: 20px;
}

.book-title{
    font-size: 1.5em;
    font-weight: bold;
}

.want-to-read{
    // max-width: 25vw;
}

.want-to-read-header{
    margin-bottom: 5px;
}

mat-divider{
    margin: 10px 0px 10px 0px;
}

.no-users-found{
    margin: 10px 0px 10px 0px;
    font-style: italic;
    color: styles.$action-color;
}

.book-image{
    width: 85%;
    margin-bottom: 20px;
    @media(max-width: 650px){
        width: 40vw;
    }
}

.book-description{
    margin-top: 10px;
    padding-bottom: 50px;
    // max-height: 400px;
    // overflow-y: scroll;
}
.see-more{
    cursor: pointer;
    padding-left: 5px;
}

.buddy-button{
    height: 30px;
}

.buddy-accept-menu > *{
    background-color: styles.$dark-main-color !important;
}

