@use "/styles.scss" as styles;

.vert-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.message-bar{
   margin-right:30px;
    width: 200px;
    height: 40px;
    background-color: styles.$main-color;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    color: #000;
    transition: all .2s;
    &-opened{
        height: 300px;
        width: 300px;
        background-color: styles.$main-color;
        transition: all .2s;
        margin-right: 30px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
    }
}


.messagebar-title-text{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    height: 40px;
    background-color: styles.$action-color;
    .vertical-center{
        background-color: inherit;
        height: inherit;
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
}