<div class="vert-container">
    <div [class.message-bar]="!isOpen" [class.message-bar-opened]="isOpen">
        <div (click)="toggleBar(isOpen)" class="messagebar-title-text">
            <div class="vertical-center">
                {{ conversationName }}
            </div>
            <mat-icon (click)="closeConversation()" class="vertical-center close-icon">close</mat-icon>
        </div>

        <div class="message-area-container">
            <div #scrollContainer class="message-area">
                <div *ngFor="let message of conversation.messages" class="message-container">
                    <div class="message" [class.message-user]="message.senderId === userInfo.id" [class.message-buddy]="message.senderId !== userInfo.id">
                        <!-- <div *ngIf="message.senderId !== userInfo.id" class="message-header"> -->
                        <div *ngIf="displayUserMessageInfo(conversation.messages, message)" class="message-header">
                            <span class="message-avatar" [style.background-image]="`url(${userImageService.getProfileImage(message.senderId)})`"></span>
                            {{buddyName(message)}}
                        </div>
                        {{message.content}}
                        <div class="message-timestamp-buffer"></div>
                        <span class="message-timestamp">{{messageTime(message)}}</span>
                    </div>
                </div>
            </div> 
            <div class="text-area-container">
                <div 
                    id={{messageTextId}}
                    class="text-area"
                    contenteditable="true"
                    role="textbox"
                    [attr.data-placeholder]="placeholder"
                    aria-multiline="false"
                    (keydown)="handleKeydown($event)">
                </div>
                <!-- <textarea matInput class="textarea-text" placeholder="Aa"></textarea> -->
                <!-- <app-expandable-textarea
                    (enterPressed)="onEnterPressed($event)"
                ></app-expandable-textarea> -->
            </div>           
        </div>
    </div>
</div>
