<!-- <ng-container *ngIf="user as u"> -->
  <div class="message-bar-container">
    <app-message-bar *ngFor="let conversation of activeConversations" [userInfo]="user" [conversation]="conversation" (close)="closeConversation(conversation)"></app-message-bar>
  </div>
<!-- </ng-container> -->


<div class="navbar-buffer"></div>
<nav class="main-navbar">
  <div class="navbar-container container">
    <div class="navbar-content">
      <span class="brand-container">

        <a routerLink="" class="navbar-brand">BookBuddy</a>
      </span>
      <span class="brand-container">
        <span class="app-slogan">"Meet a buddy, read a book"</span>
      </span>

        <div class="right-controls">

            <!-- Search Bar -->
            <app-book-dropdown-option dropdown_type="navbar-search" dropdown_text="dropdown for options"></app-book-dropdown-option>

            <button *ngIf="!isLoggedIn" (click)="goToLogin()" mat-raised-button class="login">Log In</button>

              <!-- User Icon -->
             <ng-container *ngIf="isLoggedIn && userIconURL">
              <div class="user-icon"
                  [style.background-image]="`url(${userImageService.getProfileImage(user.id)})`"
                  [matMenuTriggerFor]="userMenu" 
                #menuTrigger="matMenuTrigger">
              </div>
                <mat-menu class="navbar-dropdown"
                (mouseleave)="onMouseLeave(menuTrigger)" #userMenu="matMenu">
                  <div (click)="goToProfile()" mat-menu-item>Manage Account & Profile</div>
                  <div (click)="logout()" mat-menu-item>Log Out</div>
                </mat-menu>
             </ng-container>

            <!-- Menu Bar -->
             <div *ngIf="isLoggedIn" class="menu-icon-container" (click)="handleMenuIconClick()">
                <div [matMenuTriggerFor]="iconMenu" #menuTrigger="matMenuTrigger">
                  <mat-icon class="menu-icon">menu</mat-icon>
                  <mat-icon *ngIf="unreadNotifications === true" class="notification-dot">circle</mat-icon>
                </div>
                <mat-menu #iconMenu="matMenu">
                  <ng-container *ngFor="let notification of notifications">
                    <ng-container *ngIf="notification.type === NotificationType.BuddyRequest">
                      <div [matMenuTriggerFor]="buddyRequestMenu" #menuTrigger="matMenuTrigger"  mat-menu-item>{{buddyRequesterName(notification.actorId || '')}} sent you a Buddy Request</div>
                      <mat-menu  #buddyRequestMenu="matMenu">
                        <div mat-menu-item (click)="acceptBuddyRequest(notification)">Accept</div>
                        <div mat-menu-item (click)="ignoreBuddyRequest(notification)">Ignore</div>
                        <div mat-menu-item (click)="initiateMessaging(notification)">Message</div>
                      </mat-menu>
                    </ng-container>
                  </ng-container>
                  <div routerLink="/dashboard" mat-menu-item>Dashboard</div>
                  <div (click)="logout()" mat-menu-item>Log Out</div>
                </mat-menu>
            </div>

        </div>
    </div>
  </div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</nav>
<main>
    <router-outlet />
</main>
