<nav class="main-navbar">
  <div class="container navbar-container">
    <div class="navbar-content">
        <a href="#" class="navbar-brand">BookBuddy</a>
        <div class="right-controls">
            <input type="text" class="search form-control" placeholder="Search">
            <button *ngIf="!isLoggedIn" (click)="login()" mat-raised-button class="login">Log In</button>
            <button *ngIf="isLoggedIn" (click)="logout()" mat-raised-button class="login">Log Out</button>
            <button (click)="checklogin()" mat-raised-button>Check</button>
        </div>
    </div>
  </div>
</nav> 
<router-outlet />
