@use 'styles.scss' as styles;



$navbar-height: 60px;
$right-controls-spacing: 15px;
$user-height: 50px;
$transition-speed: .75s;
$expanded-height: 63px;
@mixin centered-styling {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    background-color: styles.$secondary-color;
    padding-top: $navbar-height;
    min-height: 120vh;
    color: styles.$font-color;
}

.main-navbar{
    background-color: styles.$main-color;
    height: $navbar-height;
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    .brand-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .navbar-brand{
            // line-height: 2;
            font-family: Arial, Helvetica, sans-serif;
            color: styles.$tertiary-color;
            cursor: pointer;
            // color: #fff;
            font-size: calc(1.3rem + 0.6vw);
            text-decoration-line: none;
        }
    }
}
.app-slogan{
    font-style: italic;
    color: styles.$tertiary-color;
    font-size: calc(.65rem + 0.6vw);
    @media(max-width: 1000px){
        display: none;
    }

}
// .navbar-buffer{
//     height: $navbar-height;
// }
.navbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: styles.$main-color;
    border-bottom: 1px solid #a4a4a4;
    .navbar-content{
        // padding: 0px 25px 0px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.user-icon{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    z-index: 10;
    margin-left: $right-controls-spacing;
    background-size: cover;
    cursor: pointer !important;
}

.user-want-to-read, .buddy{
    max-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    padding: 4px;
    border: 1px solid styles.$secondary-color;
    // height: $user-height;
    border-radius: 50px;
    &:hover{
        cursor: pointer;
        // height: $expanded-height;
        // width: 300px;
        // .user-avatar{
        //     width: $expanded-height;
        //     height: $expanded-height;
        //     transition: width .6s;
        // }
        transition: all .4s;
        .invite-buddy{
            width: 100px;
            transition: all .4s;
        }

    }
}
.user-avatar{
    border-radius: 50%;
    height:$user-height;
    min-height: $user-height;
    min-width: $user-height;
    background-size: cover;
}
.invite-buddy, .invited-buddy{
    display: flex;
    height: $user-height;
    flex-direction: column;
    justify-content: center;
}
.user-name{
    font-weight: bold;
    margin: 0px 15px 0px 15px;
    @include centered-styling;
}

.invite-buddy{
    @include centered-styling;
    width: 0px;
    overflow: hidden;
    margin-left: 5px;
}
.invited-buddy{
    width: 100px;
}

.username-and-icon{
    display: flex;
}
.search{
    //color: #fff;
    &:focus{
        //color: #fff !important;
        border: 0px !important;
    }
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #a4a4a4;
    background-color: styles.$tertiary-color;
    max-width: 200px;
    margin-right:$right-controls-spacing;
    border-radius: 25px;
}
.right-controls{
    min-width: 33%;
    display: flex;
    justify-content: flex-end;
}
.vanishing{
    position: fixed;
    width: 100vw;
    height: 0px;
    transition: 250ms;
    // animation-duration: 2000ms;
    overflow: hidden;
}
.navbar-visible{
    width: 100vw;
    position: fixed;
}
.appearing{
    height: $navbar-height;
    transition: 250ms;
}
.full-appear{
    height: $navbar-height;
}
.message-bar-container{
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    // display: inline-block;
    // width: 350px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    overflow-y: visible;
    &-second{
        width: 80%;
        z-index: 2;
    }
}
.menu-icon-container{
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-icon{
    color: styles.$tertiary-color;
    cursor: pointer;
    font-size: 25px;
}
.notification-dot{
    position: absolute;
    left: 18px;
    color: red;
    font-size: 10px;
}
::ng-deep {
    // .mat-mdc-menu-content{
    //     background-color: styles.$dropdown-color;
    //     // height: 40px;
    //     .mat-mdc-menu-item{
    //         color: #fff;
    //     }
    // }
    .mat-mdc-menu-panel{
        // border-radius: 8px;
        min-width: 200px;
    }
}

