@use 'styles.scss' as styles;
.welcome{
    margin-top: 30px;
}
.login-options{
    height:380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 350px;
    @media(max-width: 1600px){
        margin: 15px 25vw;
    }
    @media(max-width: 995px){
        margin: 15px 18vw;
    }
    @media(max-width: 767px){
        margin: 15px;
    }
}

.email_login{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    form{
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.create_account{
    cursor: pointer;
    color: styles.$action-color;
}
.forgot-password{
    cursor: pointer !important;
}
.bottom_option{
    margin-top:15px;
}