<mat-icon (click)="saveRating(1)" (mouseover)="onMouseOver(1)" (mouseout)="onMouseOut()">{{starsFilled > 0 ? 'star' : 'star_border'}}</mat-icon>
<mat-icon (click)="saveRating(2)" (mouseover)="onMouseOver(2)" (mouseout)="onMouseOut()">{{starsFilled > 1 ? 'star' : 'star_border'}}</mat-icon>
<mat-icon (click)="saveRating(3)" (mouseover)="onMouseOver(3)" (mouseout)="onMouseOut()">{{starsFilled > 2 ? 'star' : 'star_border'}}</mat-icon>
<mat-icon (click)="saveRating(4)" (mouseover)="onMouseOver(4)" (mouseout)="onMouseOut()">{{starsFilled > 3 ? 'star' : 'star_border'}}</mat-icon>
<mat-icon (click)="saveRating(5)" (mouseover)="onMouseOver(5)" (mouseout)="onMouseOut()">{{starsFilled > 4 ? 'star' : 'star_border'}}</mat-icon>