/* You can add global styles to this file, and also import other style files */
$main-color: #712cf9;
$secondary-color: #c2a8f8;
$tertiary-color: #fcffdf;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
