@use '@angular/material' as mat;

// light theme colors:
// $main-color: #712cf9;
// $dark-main-color: #501eb4;
// $secondary-color: #c2a8f8;
// $font-color: #000;

// dark theme colors:
$main-color: #314a4f;
$dark-main-color: #314a4f;
// $secondary-color: #c4ced2;
$secondary-color: #051f29;
$dropdown-color: #1e4e63;

$tertiary-color: #f6fac8;

// $action-color: #f8ac49;
$action-color: rgb(246, 194, 116);
$secondary-action-color: rgb(223, 198, 161);

$font-color: #e3ffc5;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin: 0vw 10vw 0vw 10vw;
}
.action-button{
    background-color: $action-color !important;
    color: #000 !important;
}
.menu-button{
    display: block;
    width: 100%;
    padding: 10px;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.menu-overrides((
    container-color: $dropdown-color,
    item-label-text-color: #fff,
    divider-color: red,
  ));
}